@using IntexWinter2024.Infrastructure

@model ProductViewModel

<div class="card m-1 p-1">
    <h4>@Model.Product.Name</h4>
    <ul>
        <li>$@Model.Product.Price</li>
        <li>@Model.Product.PrimaryColor</li>
        <li>Year Released: @Model.Product.Year</li>
        @if (Model.Categories.Count == 1)
        {
            <li>Category: @Model.Categories.First()</li>
        }
        else
        {
            <li>Categories: @string.Join(", ", Model.Categories)</li>
        }
    </ul>
    <form id="@Model.Product.ProductId" method="post" asp-page="/Cart">
        <input type="hidden" asp-for="Product.ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn btn-success">Add To Cart</button>
    </form>
</div>