@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products";
}
@model ProductsListViewModel

@foreach (Product p in Model.Products)
{
    <h2>@p.Name</h2>
    <ul>
        <li>@p.Price</li>
        <li>@p.PrimaryColor</li>
        <li>@p.Year</li>
    </ul>
}

<div page-model="@Model.PaginationInfo" page-action="Browse"></div>