@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Order>

<h1>Orders</h1>

<table>
    <thead>
        <tr>
            <td>Transaction ID</td>
            <td>Customer ID</td>
            <td>Date</td>
            <td>Amount</td>
            <td>Transaction Country</td>
            <td>Shipping Address</td>
            <td>Card Type</td>
            <td>Fraud</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Order o in Model)
        {
            <tr>
                <td>@o.TransactionId</td>
                <td>@o.CustomerId</td>
                <td>@o.Date</td>
                <td>@o.Amount</td>
                <td>@o.CountryOfTransaction</td>
                <td>@o.ShippingAddress</td>
                <td>@o.TypeOfCard</td>
                <td>@o.Fraud</td>
            </tr>
        }
    </tbody>
</table>
