@model ProductDetailsViewModel

<div class="row m-1 p-1">
    <div class="bg-white col-4">
        <img src="@Model.ProductCategory.Product.ImgLink" width="300px"/>
    </div>
    
    <div class="col-8">
        <h3>Title: @Model.ProductCategory.Product.Name</h3>
        <p>$@Model.ProductCategory.Product.Price</p>
        <ul>
            <li>Release Year: @Model.ProductCategory.Product.Year</li>
            <li>Number of Pieces: @Model.ProductCategory.Product.NumParts</li>
            <li>Primary Color: @Model.ProductCategory.Product.PrimaryColor</li>
            <li>Secondary Color: @Model.ProductCategory.Product.SecondaryColor</li>
            @if (Model.ProductCategory.Categories.Count() == 1)
            {
                <li>Category: @Model.ProductCategory.Categories.First()</li>
            }
            else
            {
                <li>Categories: @string.Join(", ", Model.ProductCategory.Categories)</li>
            }
        </ul>

    </div>
</div>
<div class="m-2">
    <h4>Recommendation Products:</h4>
    <ul>
        @foreach (var product in Model.ProductBasedProductRecommendation)
        {
            <li>Product ID: @product.ProductId</li>
            <li>Name: @product.Name</li>
        }
    </ul>
</div>
