@{
}

@model List<ProductCategoryViewModel>
<div class="col-12">
    <br />
    <div class="row">
        <form asp-controller="Home" asp-action="AddProduct" method="get">
            <button class="btn btn-success" type="submit">Add product</button>
        </form>
    </div>
    <br />

    <table>
        <thead>
            <tr>
                <td>Product ID</td>
                <td>Product Name</td>
                <td>Year</td>
                <td>Number of Parts</td>
                <td>Price</td>
                <td>Image Link</td>
                <td>Primary Color</td>
                <td>Secondary Color</td>
                <td>Category</td>
                <td>Description</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductCategoryViewModel p in Model)
            {
                <tr>
                    <td>@p.Product.ProductId</td>
                    <td>@p.Product.Name</td>
                    <td>@p.Product.Year</td>
                    <td>@p.Product.NumParts</td>
                    <td>@p.Product.Price</td>
                    <td>@p.Product.ImgLink</td>
                    <td>@p.Product.PrimaryColor</td>
                    <td>@p.Product.SecondaryColor</td>
                    @if (p.Categories.Count() >= 1)
                    {
                        <td>@p.Categories.First()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#description@(p.Product.ProductId)" aria-expanded="false" aria-controls="description@(p.Product.ProductId)">
                            Show Description
                        </button>
                        <div class="collapse" id="description@(p.Product.ProductId)">
                            @p.Product.Description
                        </div>
                    </td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="ProductEditPage" asp-route-id="@p.Product.ProductId" style="background-color: #317287">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>
