@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OrdersListViewModel



    @if (Model.Orders.Count() == 0)
    {
        <h2 style="text-align: center; font-family: sans-serif;">Hi, @Model.Customer.FirstName! You don't have any previous orders.</h2>
    }
    else
    {
    <div class="container" style="width:50%; justify-content: center; align-items: center;">
            <div class="container-header">
                <h2 style="text-align: center; font-family: sans-serif; color: white;">Hi, @Model.Customer.FirstName!</h2>
                <h4 style="text-align: center; font-family: sans-serif; color: white;"> Here are your past orders:</h4>
            </div>
            @foreach (Order o in Model.Orders)
            {
                <div class="order-info-container row">
                    <h3>Transaction ID: @o.TransactionId</h3>
                    <div class="row">
                        <div class="col-6">
                            <p><span class="fw-bold">Date of Purchase:</span> @o.DayOfWeek, @o.Date</p>
                            <p><span class="fw-bold">Total Cost:</span> @o.Amount</p>
                            <p><span class="fw-bold">Shipping Address:</span> @o.ShippingAddress</p>
                        </div>
                        <div class="col">
                            <p><span class="fw-bold">Entry Mode:</span> @o.EntryMode</p>
                            <p><span class="fw-bold">Transaction Method:</span> @o.TypeOfTransaction</p>
                            <p><span class="fw-bold">Type of Card Used:</span> @o.TypeOfCard</p>
                        </div>
                    </div>
                    <hr style="border-top: 2px solid black;">
                </div>
            }
        </div>
    }
