@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Customer>
<h1>Users</h1>

<table>
    <thead>
        <tr>
            <td>User ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Birth Date</td>
            <td>Country of Residence</td>
            <td>Gender</td>
            <td>Role</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer c in Model)
        {
            <tr>
                <td>@c.CustomerId</td>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.BirthDate</td>
                <td>@c.CountryOfResidence</td>
                <td>@c.Gender</td>
                <td>@(c.Role != null ? c.Role.Name : "No Role")</td>
                <td>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="UserEditPage" asp-route-id="@c.CustomerId" style="background-color: #317287; border-color: black;">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteUser" asp-route-id="@c.CustomerId" style="background-color: red;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
